dwm.normbordercolor: #705c5c
dwm.normbgcolor: #1e0d0d
dwm.normfgcolor: #c6c2c2
dwm.selbordercolor: #285635
dwm.selbgcolor: #285635
dwm.selfgcolor: #c6c2c2

Xcursor.theme: Bibata-Original-Ice
Xcursor.size: 24
